$color-theme:#07c160; //主题色
$color-btnbg:linear-gradient(#31acf2, #526cfa);
$color-Nobtnbg:#939dda;

$font-color-white: rgb(255, 255, 255); //主题字体色号
$font-color-black: rgb(0, 0, 0); //主题字体色号
$font-color-pale:#fffeff; //二号主题字体色号
$home-back-color: rgb(151, 93, 93); //首页背景色
$home-bind-button: #F52C2C;
$home-disabled-text: rgb(30, 30, 30);
$home-disabled-back: rgb(242, 242, 242);
$home-earn-tip: rgb(4, 151, 255);
// $home-run-task: rgb(255, 255, 255);
$home-earn-title: rgb(44, 44, 44);
$home-copay-title: #ff9600;
$home-order-title: #ff013d;
$home-wait-title: #07c160;
$home-grey-title: #f2f2f2;
$home-earn-more: rgb(160, 160, 160);
$home-eart-title-tip: rgb(80, 80, 80);
$home-eart-rate-value: rgb(231, 80, 34);
$home-eart-status-value: rgb(98, 98, 98);
$home-eart-money-range: rgb(4, 151, 255);
$home-eart-result-value: rgb(219, 241, 255);
$home-eart-long: rgb(55, 131, 244); //龙
$home-eart-hu: rgb(236, 105, 65); //和
$home-eart-he: rgb(143, 195, 31); //虎
$home-no-check-back: rgb(137,137,137);
$home-month-value: #006dfe;
$home-history-value:#00af0f;
$home-risk-value: #fe6700;