.tab_check_warp {
  display: flex;
  color: #909399;
  font-size: 14px;
  align-items: center;
  margin-bottom: 15px;

  .el-checkbox {
    margin-right: 10px;
  }

  .check_num {
    color: #606266;
  }
}

.group_main {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .group_head_warp {
    display: flex;
    width: 220px;
    height: 40px;
    flex-shrink: 0;
    position: relative;
    font-size: 14px;
    color: #606266;
    align-items: center;
    padding: 0 8px 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
    background: #f5f7fa;

    .custom_popover {
      position: absolute;
      top: 280px;
    }

    .el-icon-setting {
      margin-left: 10px;
    }

    .group_icon {
      i {
        cursor: pointer;
      }
    }
  }

  .group_warp {
    width: 220px;
    flex-shrink: 0;
    flex-wrap: wrap;

    .group_item {
      display: flex;
      width: 100%;
      flex-shrink: 0;
      height: 36px;
      margin-top: 8px;
      cursor: pointer;
      font-size: 14px;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px 0 12px;

      .left_icon {
        margin-right: 6px;
      }

      .el-icon-more {
        color: #209cdf;
        margin-left: 10px;
        position: relative;

        .del_alert {
          //opacity: 0;
          width: 60px;
          padding: 10px;
          display: flex;
          position: absolute;
          top: 15px;
          left: -22px;
          z-index: 99999;
          border-radius: 4px;
          align-items: center;
          justify-content: center;
          // background-color: darkgreen;
          border: 1px solid #ebeef5;
          ;
          -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);

          .del_arrow {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
            margin-right: 3px;
            border-bottom-width: 0;
            border-bottom-color: #ebeef5;
            border-width: 6px;
            filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
          }
        }

        .del_is_active {
          opacity: 1;
        }
      }
    }

    .group_item:hover {
      background-color: #F5F8FA;
    }

    .group_active {
      background-color: #ebeef5;
    }
  }

  .group_continer {
    width: 100%;
    display: flex;
    flex-direction: column;
    .main_list{
      display: flex;
      flex-wrap: wrap;
    }
    .empty_ele {
      display: flex;
      width: 100%;
      font-size: 14px;
      justify-content: center;
    }

    .data_list, .small_list{
      display: flex;
      width: 280px;
      padding: 15px;
      font-size: 12px;
      flex-direction: column;
      box-sizing: border-box;

      .data_text_01 {
        display: flex;
        cursor: pointer;

        .text_01 {
          width: 100%;
          height: 120px;
          padding: 10px;
          overflow-y: auto;
          line-height: 19px;
          box-sizing: border-box;
          border-radius: 4px;
          border: 1px solid #e4e7ed;
        }
        .text_active{
          color: #1890ff;
        }

        .img_01,
        .audio_01,
        .video_01 {
          position: relative;
        }

        .img_01 {
          width: 259px;
          height: 259px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .audio_01 {
          display: flex;
          align-items: center;
          .audio_src {
            height: 50px;
            width: 250px;
            padding: 6px 0;
          }
        }

        .cover_mask {
          width: 100%;
          height: 100%;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          color: #fff;
          font-size: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .5s;
          background: rgba(0, 0, 0, .5);

          i {
            margin: 5px;
            font-size: 18px;
          }
        }

        .video_01 {
          width: 250px;
          height: 140px;
          padding: 0;
          margin-bottom: 10px;
        }

        .img_01:hover,
        .audio_01:hover,
        .video_01:hover {
          .cover_mask {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
          }
        }
      }

      .desc_01 {
        width: 100%;
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
        ::v-deep .el-checkbox-group, ::v-deep .el-radio-group{
          width: calc(100% - 14px);
        }
        ::v-deep .el-checkbox, ::v-deep .el-radio{
          width: 100%;
          display: flex;
          align-items: center;
        }
        ::v-deep .el-checkbox__input, ::v-deep .el-radio__input{
         display: flex;
         align-items: center;
        }
        ::v-deep .el-checkbox__label, ::v-deep .el-radio__label{
          padding-top: 1px;
          padding-bottom: 1px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .desc_r_01{
          i{
            cursor: pointer;
          }
        }
      }
    }
    .small_list{
      width: 200px;
      padding-top: 0px;
      .audio_01{
        width: 170px;
      }
      .text_01{
        width: 126px;
      }
      .img_01{
        width: 170px;
        height: 170px !important;
        img{
          height: 100%;
        }
      }
      .video_01{
        height: 95px !important;
      }
    }
  }
}

.sub_btn_01 {
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.card_tips {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 10px;
}

::v-deep .el-alert--success.is-light,
::v-deep .el-alert--success.is-light .el-alert__description {
  color: #67c23a;
  background-color: #f0f9eb;
}